<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pintle>
			<dictionary>
				<settings type="Pintle.Dictionary.SitecoreDictionarySettings, Pintle.Dictionary">
					<dictionaryFolderTemplateId>{267D9AC7-5D85-4E9D-AF89-99AB296CC218}</dictionaryFolderTemplateId>
					<dictionaryPhraseTemplateId>{6D1CD897-1936-4A3A-A511-289A94C2A7B1}</dictionaryPhraseTemplateId>
					<dictionaryKeyFieldId>{580C75A8-C01A-4580-83CB-987776CEB3AF}</dictionaryKeyFieldId>
					<dictionaryPhraseFieldId>{2BA3454A-9A9C-4CDF-A9F8-107FD484EB6E}</dictionaryPhraseFieldId>
					<itemCreationDatabase>master</itemCreationDatabase>
				</settings>
				<dictionaryService type="Pintle.Dictionary.DictionaryService, Pintle.Dictionary">
					<param name="repository" ref="pintle/dictionary/itemRepository"/>
					<param name="cache" ref="pintle/dictionary/cache"/>
					<param name="logger" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>s
				</dictionaryService>
				<cache type="Pintle.Dictionary.DictionaryCache, Pintle.Dictionary" singleInstance="true">
					<param name="cacheName">Pintle.Dictionary.Cache</param>
					<param name="cacheSize">10MB</param>
				</cache>
				<itemRepository type="Pintle.Dictionary.DictionaryItemRepository, Pintle.Dictionary">
					<param name="settings" ref="pintle/dictionary/settings"/>
					<param name="messageBus" type="Sitecore.Framework.Messaging.IMessageBus`1[[Pintle.Dictionary.Messaging.DictionaryMessageBus, Pintle.Dictionary]], Sitecore.Framework.Messaging.Abstractions" resolve="true"/>
				</itemRepository>
			</dictionary>
		</pintle>
	</sitecore>
</configuration>
