<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pintle>
			<dictionary>
				<defaultPhrases type="Pintle.Dictionary.DataAnnotationDefaultPhrases, Pintle.Dictionary" singleInstnace="true">
					<CreditCard></CreditCard>
					<Compare>Fields '{0}' and '{1}' do not match.</Compare>
					<EmailAddress>Email address is not valid. Enter an email address and try again.</EmailAddress>
					<Phone></Phone>
					<Range>The value should be in the range from '{0}' to '{1}'.</Range>
					<RegularExpression></RegularExpression>
					<Required>Field is required.</Required>
					<StringLength>Value length must be between {0} and {1}.</StringLength>
					<Url></Url>
				</defaultPhrases>
				<defaultPhrases.DA type="Pintle.Dictionary.DataAnnotationDefaultPhrases, Pintle.Dictionary" singleInstnace="true">
					<CreditCard></CreditCard>
					<Compare>Felter '{0}' og '{1}' stemmer ikke overens.</Compare>
					<EmailAddress>E-mailadresse er ikke gyldig. Indtast en e-mailadresse og prøv igen.</EmailAddress>
					<Phone></Phone>
					<Range>Værdien skal være i intervallet fra '{0}' til '{1}'.</Range>
					<RegularExpression></RegularExpression>
					<Required>Felt er påkrævet.</Required>
					<StringLength>Værdien længde skal være mellem {0} og {1}.</StringLength>
					<Url></Url>
				</defaultPhrases.DA>
			</dictionary>
		</pintle>
	</sitecore>
</configuration>
