<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Pintle.Dictionary.Pipelines.Initialize.RegisterCustomDataAnnotations, Pintle.Dictionary" />
				<processor type="Pintle.Dictionary.Pipelines.Initialize.InitializeDictionaryMessaging, Pintle.Dictionary" resolve="true" />
				<processor type="Pintle.Dictionary.Pipelines.Initialize.SetCustomIcons, Pintle.Dictionary" 
				           role:require="(Standalone or ContentManagement) and !ContentDelivery">
					<param name="settings" ref="pintle/dictionary/settings"/>
					<param name="iconSettings" ref="pintle/dictionary/iconSettings"/>
					<param name="logger" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true"/>
				</processor>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
