<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role">
	<sitecore>
		<services>
			<configurator type="Pintle.Dictionary.Configuration.ServicesConfigurator, Pintle.Dictionary" />
			<configurator type="Pintle.Dictionary.Configuration.ServicesConfiguratorCm, Pintle.Dictionary" 
			              role:require="(Standalone or ContentManagement) and !ContentDelivery"/>
		</services>
	</sitecore>
</configuration>
