<configuration
	xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role">
	<sitecore>
		<Messaging>
			<Rebus>
				<Pintle.Dictionary.Messaging.DictionaryMessageBus>
					<Transport>
						<SqlServer>
							<OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
							<OneWay role:require="ContentDelivery">true</OneWay>
							<ConnectionStringOrName>messaging</ConnectionStringOrName>
							<TableName>Sitecore_Transport</TableName>
							<InputQueueName>DictionaryMessagesQueue</InputQueueName>
						</SqlServer>
					</Transport>
					<Routing>
						<TypeBasedMappings>
							<TypeMappings>
								<DictionaryItemMessageMapping>
									<Type>Pintle.Dictionary.Messaging.DictionaryItemMessage, Pintle.Dictionary</Type>
									<DestinationQueue>DictionaryMessagesQueue</DestinationQueue>
								</DictionaryItemMessageMapping>
							</TypeMappings>
						</TypeBasedMappings>
					</Routing>
					<Options role:require="(Standalone or ContentManagement) and !ContentDelivery">
						<SetNumberOfWorkers>1</SetNumberOfWorkers>
						<SimpleRetryStrategy>
							<ErrorQueueAddress>Error</ErrorQueueAddress>
							<MaxDeliveryAttempts>1</MaxDeliveryAttempts>
							<SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
						</SimpleRetryStrategy>
					</Options>
					<Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
				</Pintle.Dictionary.Messaging.DictionaryMessageBus>
			</Rebus>
		</Messaging>
	</sitecore>
</configuration>
