<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<vohil>
			<dictionary>
				<defaultPhrases type="Vohil.Dictionary.DataAnnotationDefaultPhrases, Vohil.Dictionary" singleInstnace="true">
					<CreditCard>Credit card number is not valid.</CreditCard>
					<Compare>Fields '{0}' and '{1}' do not match.</Compare>
					<EmailAddress>Email address is not valid.</EmailAddress>
					<Phone>Phone number is not valid.</Phone>
					<Range>The value should be in the range from {0} to {1}.</Range>
					<RegularExpression>Invalid field value.</RegularExpression>
					<Required>Field is required.</Required>
					<StringLength>Value length must be between {0} and {1}.</StringLength>
					<Url>Url is not valid.</Url>
				</defaultPhrases>
				<defaultPhrases.EN type="Vohil.Dictionary.DataAnnotationDefaultPhrases, Vohil.Dictionary" singleInstnace="true">
					<CreditCard>Credit card number is not valid.</CreditCard>
					<Compare>Fields '{0}' and '{1}' do not match.</Compare>
					<EmailAddress>Email address is not valid.</EmailAddress>
					<Phone>Phone number is not valid.</Phone>
					<Range>The value should be in the range from {0} to {1}.</Range>
					<RegularExpression>Invalid field value.</RegularExpression>
					<Required>Field is required.</Required>
					<StringLength>Value length must be between {0} and {1}.</StringLength>
					<Url>Url is not valid.</Url>
				</defaultPhrases.EN>
				<defaultPhrases.DA type="Vohil.Dictionary.DataAnnotationDefaultPhrases, Vohil.Dictionary" singleInstnace="true">
					<CreditCard>Kreditkortnummer er ikke gyldigt.</CreditCard>
					<Compare>Felter '{0}' og '{1}' stemmer ikke overens.</Compare>
					<EmailAddress>E-mailadresse er ikke gyldig.</EmailAddress>
					<Phone>Telefonnummer er ikke gyldigt.</Phone>
					<Range>Værdien skal være i intervallet mellem {0} og {1}.</Range>
					<RegularExpression>Ugyldig feltværdi.</RegularExpression>
					<Required>Felt er påkrævet.</Required>
					<StringLength>Værdien længde skal være mellem {0} og {1}.</StringLength>
					<Url>Url er ikke gyldigt.</Url>
				</defaultPhrases.DA>
				<defaultPhrases.DADK type="Vohil.Dictionary.DataAnnotationDefaultPhrases, Vohil.Dictionary" singleInstnace="true">
					<CreditCard>Kreditkortnummer er ikke gyldigt.</CreditCard>
					<Compare>Felter '{0}' og '{1}' stemmer ikke overens.</Compare>
					<EmailAddress>E-mailadresse er ikke gyldig.</EmailAddress>
					<Phone>Telefonnummer er ikke gyldigt.</Phone>
					<Range>Værdien skal være i intervallet mellem {0} og {1}.</Range>
					<RegularExpression>Ugyldig feltværdi.</RegularExpression>
					<Required>Felt er påkrævet.</Required>
					<StringLength>Værdien længde skal være mellem {0} og {1}.</StringLength>
					<Url>Url er ikke gyldigt.</Url>
				</defaultPhrases.DADK>
			</dictionary>
		</vohil>
	</sitecore>
</configuration>
